body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    color: #333;
    font-size: 22px;
    margin-bottom: 20px;
}

.input-group {
    margin: 10px 0;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #7d6dd6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.input-group {
  margin: 10px 0; /* Mantém o espaçamento consistente */
}

button:hover {
    background-color: #4f38d6;
}

